[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=nagstamon
Type=Application
Comment=Nagios status monitor
Icon=/usr/share/pyshared/Nagstamon/resources/nagstamon.svg
Exec=nagstamon
Terminal=false
Categories=System;Monitor;GTK;
